<nav class="navbar">
	<div class="nav-container">
		<div class="nav-logo">Bao Dinh</div>
		<input type="checkbox" id="menu-toggle" />
		<label for="menu-toggle" class="menu-icon">&#9776;</label>
		<ul class="nav-links">
			<li><a href="../home/index.html">Home</a></li>
			<li><a href="../about-me/index.html">About</a></li>
			<li><a href="../projects/index.html">Projects</a></li>
			<li><a href="../skills/index.html">Skills</a></li>
			<li><a href="../contact/index.html">Contact</a></li>
			<div class="dark-toggle">
				<label for="dark-mode-toggle" class="toggle-label">Darkmode</label>
				<input type="checkbox" id="dark-mode-toggle" />
			</div>
		</ul>
		
	</div>
</nav>
